
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/*== common ==*/
html{
    font-family: "Noto Sans Japanese";
}

a{
    color: white !important;
    text-decoration: none !important;
}

ul{
    list-style-type: none;
}
    
.btn{
    color: white !important;
}

.scratchBlue{
    background-color: #2fa3e9;
}
    
.container-fluid{
    background-color: #f5ae3a;
}

    /*= 文字関係 =*/

    .title{
        padding: 2% 0;
        font-size: 1.75em;
    }

    .sub-title{
        padding: 2% 0;
        font-size: 1.25em;
    }

    .caution-gray{
        font-size: .75em;
        color: gray;
    }


/*== 運営について ==*/

/*== ロゴ ==*/
.x-length-logo{
    margin-bottom: 5%;
    width: 65%;
}

.square-logo{
    margin-bottom: 5%;
    width: 15%;
}
    /*= 実行委員会 =*/
    .sdk{
        font-size: 1.5em;
    }

    /*= CoderDojo Kashiwa =*/
    .cdk{
        font-size: 1.5em;
    }

    /*= 麗澤大学 =*/
    .reitaku{
        font-size: 1.5em;
    }

/*== navbar ==*/
#nav{
    color: white;
}

/*== main ==*/
#main section{
    background-color: #dd872a;
    color: white;
}

/* card */
.card{
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: #f5ae3a !important;
}

.modal-content{
   background-color: #dd872a !important;
}

.modal-body{
    background-color: #f5ae3a !important;
}

    /*= スライドショー =*/
    .carousel-caption{
        bottom: 35px !important;
        padding-top: 30px !important;
        padding-bottom: 10px !important;
        background-color: rgba(128, 128, 128, .6)
    }

/*== スポンサー ==*/
#sponsor #gold img,#silver img{
    padding-top: 5%;
}

.card{
    background-color: #f5ae3a !important;
}

/*== footer ==*/
#footer{
    color: gray;
}

.copyright{
    font-size: .5em;
    text-align: center;
}

/*== inquiry form ==*/
.inputTitleLabel{
    text-align: left;
}